@charset "utf-8";
body {
　　　　font: normal 100% Helvetica, Arial, sans-serif;
　　}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body,html{margin:0;padding:0;}
body{font:verdana;}
input,label{vertical-align: middle;}
.menu_box{
	width: 1020px;
	height: 700px;
	position: relative;
	left: 50%;
	top:60px;
	margin-left: -510px;
	/*margin-top: 60px;*/
	overflow: hidden;
	border: 1px solid #eb5405;
}
a:hover, a:visited, a:link, a:active {
	color: #fff;
	font-size: 14px;
}
.menu_left{
	width: 176px;
	height: 700px;
	background-color: #fe7327;
	color: #fff;
	float: left;
}
.meun_left_logo{
	width: 100%;
	height: 50px;
	margin-top:20px;
	margin-bottom: 20px;
	font-size: 22px;
	text-align: left;
}
.meun_left_logo span{
	width: 30%;
	display: inline-block;
	margin-left: 30px;
}
.meun_left_logo .meun_left_logo_ch{
	margin-left: 10px;
}
.meun_left_logo .detail_header_logo{
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: left;
	margin-left: 20px;
	color: #fff;
	font-size: 22px;
	line-height: 50px;
	font-size:20px;
}
.meun_left_logo .detail_header_logo img{
	display: inline-block;
	width: 40px;
	height: 40px;
}
.menu_left_ul{
	width: 100%;
	height: 400px;
	list-style-type: none;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.menu_left_ul li{
	width: 100%;
	height: 40px;
	line-height: 34px;
	font-size: 14px;
	text-align: left;
}
.menu_left_ul li a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	margin-left: 30px;
	font-size: 14px;
}
.onmenu{
	background-color: #ff8847;
}
.menu_right{
	width: 844px;
	height: 700px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.menu_right_content1{
	width: 80%;
	height: 100%;
	display: block;
}
.menu_right_title{
	width: 100%;
	height: 60px;
}
.menu_right_title span{
	margin-left: 50px;
	line-height: 60px;
	color: #000;
	font-size: 16px;
}
.menu_right_detail{
	width: 796px;
	height: auto;
}
.menu_right_detail dl{
	margin-top: 0px;
	width: 220px;
	height: 160px;
	float: left;
	margin-right: 40px;
	margin-bottom: 30px;
}
.menu_right_detail dt{
	width: 220px;
	height: 124px;
}
.menu_right_detail dt img{
	width: 100%;
	height: 100%;
}
.menu_right_detail dt dd{
	width: 220px;
	height: 36px;
	line-height: 16px;
	margin-top: 4px;
	font-size: 12px;
	color: #d5d5d5;
}
.full_page{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 111;
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	opacity:0.5;
	display: none;
}
.full_page_div{
	width: 600px;
	height: 400px;
	position: fixed;
	left: 50%;
	top:50%;
	margin-left: -300px;
	margin-top: -200px;
	background-color: #fff;
	z-index: 333;
	display: none;
}
.full_page_div2{
	width: 600px;
	height: 500px;
	position: fixed;
	left: 50%;
	top:50%;
	margin-left: -300px;
	margin-top: -250px;
	background-color: #fff;
	z-index: 333;
	display: none;
}
.full_page_header{
	/*width: 100%;*/
	height: 50px;
	border-bottom: 1px solid #eb5405;
	background-color: #eb5405;
}
/*.full_page_header .name_del{
	display: inline-block;
	float: right;
	width: 50px;
	height: 50px;
	background: url("../image/del_normal.png") no-repeat center center;
	cursor: pointer;
}*/
/*.full_page_header{
	background: url("../image/del-hover.png") no-repeat center center;
}*/
.full_page_name{
	width: 80%;
	margin-left: 10%;
	height: 50px;
	margin-top: 40px;
	text-align: center;
}
.full_page_msg span,.full_page_name span{
	/*display: inline-block;*/
}
.name_label{
	width: 70px;
	height: 50px;
	line-height: 50px;
	text-align: left;
	color: #000;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	margin-left: 64px;
}
.name_label_detail{
	width: 400px;
	height: 50px;
	line-height: 50px;
	text-align: left;
	color: #333;
	font-size: 12px;
}
.full_page_msg{
	width: 80%;
	margin-left: 10%;
	height: 50px;
	margin-top: 10px;
	overflow: hidden;
}
#percent_container{
	width: 80%;
	margin-left: 20%;
	height: 50px;
	margin-top: 10px;
	text-align: center;
	overflow: hidden;
}
.msg_label{
	width: 70px;
	height: 50px;
	line-height: 50px;
	text-align: left;
	color: #000;
	font-size: 14px;
}
.name_label_detail{
	width: 400px;
	height: auto;
	line-height: 30px;
	text-align: left;
	color: #333;
	font-size: 12px
}
.full_page_button{
	width: 60%;
	margin-left: 20%;
	height: 40px;
	margin-top: 20px;
	text-align: center;
}
.full_page_button button,.full_page_button a{
	display: inline-block;
	border:0;
	outline: none;
	width: 130px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 4px;
}
/*.full_page_cancle,.full_page_submit{
	width: 140px;
}*/

.full_page_cancle,.full_page_cancle2{
	/*margin-left: 100px;*/
	border:1px solid #ccc;
	background-color: #ccc;
	color: #333;
	margin-left: 20px;
}
.full_page_submit2{
	margin-left: 20px;
	border:1px solid #eb5405;
	background-color: #eb5405;
	color: #fff;
}
.full_page_submit{
	margin-left: 20px;
	border:1px solid #eb5405;
	background-color: #eb5405;
	color: #fff;
}
.full_page_cancle.oncancle,.full_page_cancle2.oncancle{
	border:1px solid #eb5405;
	background-color: #eb5405;
	color: #fff;
}
.full_page_submit.onsubmit,.full_page_submit2.onsubmit{
	border:1px solid #ccc;
	background-color: #ccc;
	color: #333;
}

.full_page_div2{
	width: 600px;
	height: 500px;
	position: fixed;
	left: 50%;
	top:50%;
	margin-left: -300px;
	margin-top: -250px;
	background-color: #fff;
	z-index: 444;
	display: none;
	border: 1px solid #eb5405;
}
.full_page_div3{
	width: 100px;
	height: 260px;
}
.full_page_header2,.full_page_header3{
	/*width: 100%;*/
	height: 50px;
	background-color: #eb5405;
}
.name_min2,.name_min3{
	display: inline-block;
	float: right;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	cursor: pointer;
}
.full_page_header2  .name_label,.full_page_header3  .name_label{
	font-size: 14px;
}
.name_del1,.name_del2,.name_del3{
	display: inline-block;
	float: right;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 12px;
	cursor: pointer;
}
.name_del1{
	font-size: 18px;
}
.full_page_tab{
	width: 100%;
	height: 50px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccc;
}
.full_page_tab span{
	display: inline-block;
	width: 100px;
	height: 48px;
	line-height: 48px;
	font-size: #333;
	text-align: center;
	cursor: pointer;
	margin-left: 20px;
}
.full_page_tab_li1{
	border-bottom: 2px solid #5298fa;
	font-size: #000;
	margin-left: 20px;
}
.full_page_tab span.ontab{
	border-bottom: 2px solid #5298fa;
	font-size: #000;
}
.full_page_msg2{
	width: 90%;
	margin-left: 10%;
	height: 300px;
	margin-top: 6px;
	text-align: left;
	overflow: hidden;
	display:none;
}
.full_page_div4{
	width: 80%;
	margin-left: 10%;
	height: 300px;
	margin-top: 6px;
	overflow: hidden;
	display:block;
}
.full_page_msg3,.full_page_msg4,.full_page_msg5,.full_page_msg6,.full_page_msg7,.full_page_msg8{
	width: 80%;
	margin-left: 10%;
	height: 40px;
	margin-top: 10px;
	overflow: hidden;
}
.full_page_msg2 select,.full_page_msg3 select,.full_page_msg5 select{
	display: inline-block;
	width: 220px;
	height: 30px;
	padding-left: 10px;
}
.full_page_msg5,..full_page_msg8{
	line-height: 40px;
}
.full_page_msg5 label,.full_page_msg8 label{
	padding-left: 10px;
	font-size: 14px;
	color: #000;
}
.full_page_msg5 input,.full_page_msg8 input{
	width: 20px;
	height: 20px;
}
/*.full_page_msg5 input{
	height: 40px;
	line-height: 40px;
}*/
.msg_label2,.msg_label3,.msg_label4,.msg_label5,.msg_label6,.msg_label7,.msg_label8{
	display: inline-block;
	width: 130px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	color: #000;
	font-size: 14px;
}
.full_page_msg4 input,.full_page_msg6 input,.full_page_msg7 input{
	display: inline-block;
	width: 204px;
	height: 30px;
	padding-left: 10px;
}
.name_label2{
	width: 70px;
	height: 50px;
	line-height: 50px;
	text-align: left;
	color: #000;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	margin-left: 34px;
}
.percent_box{
	width: 400px;
	height: 20px;
	background-color:#ccc;
	text-align: left;
}
.percent_item{
	display: inline-block;
	width: 1%;
	height: 20px;
	background-color: #eb5405;
}

.meet_video_reset{
	width: 76%;
	margin-left: 12%;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
}
.meet_video_reset p{
	display: inline-block;
}
.meet_video_reset .meet_label{
	display: inline-block;
	width: 60px;
	color: #333;
	text-align: left;
	font-size: 14px;
}
.radio_contain input{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 6px;
}
.radio_contain span{
	display: inline-block;
	margin-right:50px;
}
.meet_video_reset>select,.meet_video_reset>input{
	display: inline-block;
	width: 240px;
	height: 30px;
	line-height: 30px;
	color: #333;
	padding-left: 4px;
}
.meet_video_reset>input{
	width: 234px;
}
.meet_checkbox{
	display: inline-block;
	width: auto;
}
.meet_video_reset button{
	width: 70px;
	height: 30px;
	border:#3aabfb;
	background-color: #3aabfb;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	margin-left: 10px;
}
.fs14_col48_verm_disib{
	display: inline-block;
	margin-right:50px;
}
.layui-layer-content{
	height: 68%!important;
}

/*警告层弹出样式*/
#warning_palyer{
	width: 600px;
	height: 240px;
	position: fixed;
	left: 50%;
	top:0;
	margin-left: -300px;
	margin-top: 360px;
	display: block;
	border:1px solid red;
	z-index:666;
	background-color: #fff;
}
.palyer_page_header{
	/*width: 100%;*/
	height: 50px;
	border-bottom: 1px solid #eb5405;
	background-color: #eb5405;
}
.player_page_msg{
	width: 480px;
	margin-left: 60px;
	height: auto;
	margin-top: 10px;
	overflow: hidden;
	display:none;
}
.player_label{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	color: #000;
	font-size: 14px;
}
.player_page_msg input{
	display: inline-block;
	width: 204px;
	height: 30px;
	padding-left: 10px;
}
.player_page_msg img{
	display: inline-block;
}
.player_page_msg textarea{
	display: inline-block;
	width: 204px;
	height: 40px;
	padding-left: 10px;
}
.player_page_msg .player_label_detail{
	width: 400px;
	height: 50px;
	line-height: 50px;
	text-align: left;
	color: #333;
	font-size: 12px;
}
.player_page_button{
	width: 60%;
	margin-left: 20%;
	height: 60px;
	margin-top: 20px;
	text-align: center;
}
.player_page_button button{
	display: inline-block;
	border:0;
	outline: none;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 4px;
}
.player_page_cancle{
	border:1px solid #ccc;
	background-color: #ccc;
	color: #333;
	margin-left: 10px;
}
.player_page_submit{
	margin-left: 10px;
	border:1px solid #eb5405;
	background-color: #eb5405;
	color: #fff;
}
.player_page_cancle.oncancle{
	border:1px solid #eb5405;
	background-color: #eb5405;
	color: #fff;
}
.player_page_submit.onsubmit{
	border:1px solid #ccc;
	background-color: #ccc;
	color: #333;
}
.player_name_label{
	width: 70px;
	height: 50px;
	line-height: 50px;
	text-align: left;
	color: #000;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	margin-left: 64px;
}
.player_name_del{
	display: inline-block;
	float: right;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 12px;
	cursor: pointer;
}
.player_one_word{
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 100%;
	font-size: 14px;
	color: #333;
	text-align: center;
}
#login_time{
	color: #eb5405;
}
input::-ms-clear{display:none;}

/*弹出框弹层样式 开始*/
#alert_palyer{
	min-width: 400px;
	height: 300px;
	position: fixed;
	left:50%;
	top:50%;
	margin-left: -200px;
	margin-top: -150px;
	border:1px solid red;
	z-index:777;
	background-color: #fff;
}
.alert_page_header{
	/*width: 100%;*/
	height: 50px;
	border-bottom: 1px solid #eb5405;
	background-color: #eb5405;
}
.alert_name_label{
	width: 70px;
	height: 50px;
	line-height: 50px;
	text-align: left;
	color: #000;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	margin-left: 64px;
}
.alert_name_del{
	display: inline-block;
	float: right;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	cursor: pointer;
}
.alert_page_msg{
	width: 80%;
	margin-left: 10%;
	height: 140px;
	margin-top: 10px;
	overflow: hidden;
}
.alert_label_detail{
	width: 300px;
	height: auto;
	line-height: 40px;
	text-align: left;
	color: #333;
	font-size: 14px;
	text-align: center;
	margin-top: 60px;
}
.alert_page_button{
	width:60%;
	margin-left: 20%;
	height: 60px;
	margin-top: 20px;
	text-align: center;
}
.alert_page_button button{
	display: inline-block;
	outline: none;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 4px;
	margin-left: 20px;
	border:1px solid #eb5405;
	background-color: #eb5405;
	color: #fff;
}
/*弹出框弹层样式 结束*/
/*list文件列表 开始*/
.list_container{
	width: 700px;
	height: 400px;
	position: fixed;
	left: 50%;
	top:50%;
	margin-left: -350px;
	margin-top: -200px;
	border:1px solid red;
	z-index:222;
	background-color: #fff;
}
.list_page_header{
	/*width: 100%;*/
	height: 50px;
	border-bottom: 1px solid #eb5405;
	background-color: #eb5405;
}
.list_name_label{
	width: 70px;
	height: 50px;
	line-height: 50px;
	text-align: left;
	color: #000;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	margin-left: 20px;
	color: #fff;
}
.list_name_del{
	display: inline-block;
	float: right;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	cursor: pointer;
	color: #fff;
}
.table_list{
	width: 96%;
	margin-left: 2%;
	height: 340px;
	overflow-y:scroll;
}
.tabel_list_head{
	width: 100%;
	height: 20px;
	line-height: 20px;
	border-right: 1px solid #ccc;
	font-size: 14px;
}
.table_list table tr{
	width: 100%;
	height: 30px;
	text-align: center;
}
.table_list table tr td,.table_list table tr td div,.table_list table tr td div span{
	font-size: 12px;
}
.table_list table tr td div span{
	text-align: left;
}
.table_done{
	width: 80%;
	margin-left: 10%;
	height: 26px;
	margin-top: 2px;
	background-color: #fff;
	position: relative;
}
.table_up_perc{
	position: absolute;
	left:0;
	top:0;
	background-color: #eb5405;
	width: 0;
	height: 100%;
}
.table_up_del_rec{
	display: inline-block;
	margin-right: 18px;
	color: green;
	cursor: pointer;
}
/*list文件列表 结束*/
